<section class="container" ng-cloak="">

    <div>This is the usuarios-list view.</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Switch</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.usuarios">
                <td>{{item.id}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.apellidos}}</td>
                <td>{{item.email}}</td>
                <td>
                    <div class="inset">
                        <md-switch ng-model="vm.usuario.active" aria-label="Switch">
                            Switch: {{vm.usuario.active}}
                        </md-switch>
                    </div>
                </td>
                <td><a class="btn btn-primary" ng-click="vm.goUpdateUser(item.id)">Editar</a></td>
            </tr>
        </tbody>
    </table>
</section>