<div class="container">
    <div>This is the login view.</div>
    <h2 class="btn btn-success">Login</h2>

    <form class="form-group" name="loginForm" ng-submit="vm.login()">

        <label for="">Numero Documento</label>
        <input class="form-control" type="text" ng-model="vm.user.numDocumento">

        <label for="">Password</label>
        <input class="form-control" type="password" ng-model="vm.user.password">

        <button type="submit" class="btn btn-block">Iniciar</button>

        <!--button class="btn btn-block" ng-click="authenticate('facebook')">Sign in with Facebook</button>
        num_documento
        <button class="btn btn-block" ng-click="authenticate('google')">Sign in with Google</button>
        <button class="btn btn-block" ng-click="authenticate('github')">Sign in with GitHub</button>
        <button class="btn btn-block" ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
        <button class="btn btn-block" ng-click="authenticate('instagram')">Sign in with Instagram</button>
        <button class="btn btn-block" ng-click="authenticate('twitter')">Sign in with Twitter</button>
        <button class="btn btn-block" ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button-->
    </form>
</div>